<%- include('./partials/header')%>
<main>
    <div class="ui segment">
        <h1> Magic route</h1>
        <p>This is the magic route</p>
    </div>
</main>

<footer>
    <%- include('./partials/footer'); %>
</footer>
  
</body>
</html>